<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Task Manager</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div id="page1">
    <div class="page1_left">
      <h1>Manage Your <span>Tasks</span> Effectively</h1>
    </div>
    <div class="page1_right">
      <img src="/images/home-bg.png" alt="" class="bg_img">
      <img src="/images/home.png" alt="">
    </div>
  </div>
  <a href="/register"><button>Get Started</button></a>
</body>
</html>
