<%- include('index') %>

<div id="data_page">
    <form action="/login" method="post">
        <input type="text" name="username" placeholder="Enter Your User Name">
        <input type="password" name="password" placeholder="Enter Your Password">
        <input type="submit" name="submit" value="Organized Access" class="btn">
        <a href="/register">Still Not Organized?</a>
    </form>
</div>